// Color
$blue: #389af5;
$green: #a1dd70;
$body-color: #414141;

// Font Style
$font-family-sans-serif: rubik, system-ui, -apple-system, "segoe UI", Roboto,
    "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
    "Apple Color Emoji", "Sagoe UI Emoji", "Sagoe UI Symbol", "Noto Color Emoji";

// Font Heding
$heading-font-weight: 700;

$white: #fff;
$color-gray: #f8f9fa;
$gray-200: #e9ecef;
